/* more complex with blinking... on https://codepen.io/fskirschbaum/pen/MYJNaj */

.led-green-on {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-green-off {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #235000;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-all-on {
  margin: 0 auto;
  width: 32px;
  height: 32px;
  background-color: #90BB00;
  border-radius: 20%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-all-off {
  margin: 0 auto;
  width: 32px;
  height: 32px;
  background-color: #235000;
  border-radius: 20%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

