[submodule "raspi_mesh_server/cpp_server/mesh_config"]
	path = raspi_mesh_server/cpp_server/mesh_config
	url = https://github.com/HomeSmartMesh/mesh_config.git
[submodule "web_react"]
	path = web_react
	url = https://github.com/HomeSmartMesh/web_react.git
[submodule "raspi_mesh_server/rf_gateway"]
	path = raspi_mesh_server/rf_gateway
	url = https://github.com/HomeSmartMesh/rf_gateway.git
[submodule "raspi_mesh_server/iot_db"]
	path = raspi_mesh_server/iot_db
	url = https://github.com/HomeSmartMesh/iot_db.git
[submodule "raspi_mesh_server/py_db_proxy"]
	path = raspi_mesh_server/py_db_proxy
	url = https://github.com/HomeSmartMesh/py_db_proxy.git
[submodule "nRF51_Beacon/nRF5_SDK_12.3.0_prf"]
	path = nRF51_Beacon/nRF5_SDK_12.3.0_prf
	url = https://github.com/nRFMesh/nRF5_SDK_12.3.0_prf.git
[submodule "nRF51_Sensors/nRF5_SDK_12.3.0_prf"]
	path = nRF51_Sensors/nRF5_SDK_12.3.0_prf
	url = https://github.com/nRFMesh/nRF5_SDK_12.3.0_prf.git
