[submodule "smartio/picpp/pilibs"]
	path = smartio/picpp/pilibs
	url = https://github.com/HomeSmartMesh/pilibs.git
[submodule "joystick_servo/pilibs"]
	path = joystick_servo/pilibs
	url = https://github.com/HomeSmartMesh/pilibs.git
[submodule "raspi_mesh_server/cpp_server/pilibs"]
	path = raspi_mesh_server/cpp_server/pilibs
	url = https://github.com/HomeSmartMesh/pilibs.git
[submodule "raspi_mesh_server/cpp_server/mesh_config"]
	path = raspi_mesh_server/cpp_server/mesh_config
	url = https://github.com/HomeSmartMesh/mesh_config.git
[submodule "web_react"]
	path = web_react
	url = https://github.com/HomeSmartMesh/web_react.git
[submodule "raspi_mesh_server/rf_gateway"]
	path = raspi_mesh_server/rf_gateway
	url = https://github.com/HomeSmartMesh/rf_gateway.git
