*.pyc

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.hex
*.map
*.bak
*.dep
sensors_logger/rpi_app_uart_logger/ser
sensors_logger/rpi_app_uart_logger/logs/
sensors_logger/rpi_app_uart_logger/logDays.txt
*.CSV
rfuart/lnkstm8s103f3.icf
sensors_logger/nodejs_server/instant_db.js
*.o
sensors_logger/rpi_app_uart_logger/.sconsign.dblite
sensors_logger/rpi_app_uart_logger/node_modules/
*.dblite
sensors_logger/cpp_sensors_server/streamer
joystick_servo/10_joy_Multi/joy
rgb_leds/rgb_leds_rf/Debug/Obj/clock_led.pbi.cout
mqtt/mqtt_test_cpp/mqtt_test
joystick_servo/11_Joy_STM32_Protocol/joy
