# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.hex
*.map
ws05_IoT_Mobile_Node/pr01_Node_Alive/Debug/
ws05_IoT_Mobile_Node/pr02_AmbientLight/Debug/
ws05_IoT_Mobile_Node/pr03_PressHumTemp/Debug/
ws05_IoT_Mobile_Node/pr04_LightBroadcast/Debug/
ws01_WeatherLogger/pr01_Temperature_RF_Sender/Debug/
ws01_WeatherLogger/pr02_RF_ReceiveLogger/Debug/
ws02_RF_ColorsBroadcast/pr02_RF_ColorReceiver/Debug/
ws03_RF_Sync/pr01_RF_Client/Debug/
*.bak
ws05_IoT_Mobile_Node/pr03_PressHumTemp/settings/
ws05_IoT_Mobile_Node/pr04_LightBroadcast/settings/
ws05_IoT_Mobile_Node/pr01_Node_Alive/settings/
ws05_IoT_Mobile_Node/pr02_AmbientLight/settings/
sensors_logger/pr01_Node_Alive/Debug/
sensors_logger/pr01_Node_Alive/settings/
sensors_logger/pr03_PressHumTemp/Debug/
sensors_logger/pr03_PressHumTemp/settings/
sensors_logger/settings/
sensors_logger/firmware_rf_sensors_node/pr01_Node_Alive/Debug/
sensors_logger/firmware_rf_sensors_node/pr03_PressHumTemp/Debug/
sensors_logger/firmware_rf_sensors_node/pr04_LightBroadcast/Debug/
sensors_logger/firmware_rf_sensors_node/pr02_AmbientLight/Debug/
sensors_logger/firmware_rf_sensors_node/pr01_Node_Alive/settings/
sensors_logger/firmware_rf_sensors_node/pr03_PressHumTemp/settings/
sensors_logger/firmware_rf_dongle/rf_receiver_logger/Debug/
sensors_logger/firmware_rf_dongle/settings/
*.dep
ws01_WeatherLogger/settings/
sensors_logger/firmware_rf_sensors_node/settings/
sensors_logger/firmware_rf_dongle/rf_receiver_logger/settings/
sensors_logger/rpi_app_uart_logger/ser
sensors_logger/rpi_app_uart_logger/logs/
sensors_logger/firmware_rf_dongle/rf_bridge/Debug/
sensors_logger/rpi_app_uart_logger/logDays.txt
ws03_RF_Sync/pr03_RF_Alive/Debug/
ws03_RF_Sync/pr03_RF_Alive/settings/
ws03_RF_Sync/settings/
ws01_WeatherLogger/pr02_RF_ReceiveLogger/settings/
sensors_logger/firmware_rf_dongle/rf_bridge/settings/
light_dimmer/firmware/simple_monitor/Debug/
light_dimmer/firmware/dimmer_solo/Debug/
light_dimmer/firmware/settings/
light_dimmer/firmware/simple_monitor/settings/
light_dimmer/firmware/dimmer_solo/settings/
*.CSV
light_dimmer/firmware/current_watch/Debug/
light_dimmer/firmware/sync_counter/Debug/
light_dimmer/firmware/current_watch/settings/
light_dimmer/firmware/sync_counter/settings/
rfuart/rfmaster/Debug/
rfuart/rfmaster/settings/
rfuart/lnkstm8s103f3.icf
light_dimmer/firmware/light_server/Debug/
light_dimmer/firmware/light_server/settings/
rfuart/settings/
rfuart/uarttester/Debug/
rfuart/uarttester/settings/
mesh_controller_interface/rfmaster/Debug/
mesh_controller_interface/rfmaster/settings/
mesh_controller_interface/uarttester/Debug/
mesh_controller_interface/uarttester/settings/
mesh_controller_interface/settings/
sensors_logger/firmware_rf_sensors_node/pr04_LightBroadcast/settings/
sensors_logger/nodejs_server/instant_db.js
*.o
sensors_logger/rpi_app_uart_logger/.sconsign.dblite
sensors_logger/rpi_app_uart_logger/node_modules/
*.dblite
sensors_logger/cpp_sensors_server/streamer
ws01_WeatherLogger/pr04_RF_Light_Temperature/Debug/
ws01_WeatherLogger/pr04_RF_Light_Temperature/settings/
sensors_logger/firmware_rf_dongle/rf_emulator/Debug/
sensors_logger/firmware_rf_dongle/rf_emulator/settings/
smartio/firmware/03_io_serial_server/Debug/
smartio/firmware/03_io_serial_server/settings/
joystick_servo/10_joy_Multi/Firmware_STM8_IoTNode/Debug/
joystick_servo/10_joy_Multi/Firmware_STM8_IoTNode/settings/
joystick_servo/10_joy_Multi/joy
rgb_leds/hello_rgb/Debug/
rgb_leds/hello_rgb/settings/
rgb_leds/pr01_RF_Color_Sender/Debug/
rgb_leds/pr01_RF_Color_Sender/settings/
rgb_leds/pr02_RF_ColorReceiver/Debug/
rgb_leds/pr02_RF_ColorReceiver/settings/
rgb_leds/rgb_led_bar/Debug/
rgb_leds/rgb_led_bar/settings/
rgb_leds/rgb_leds_rf/Debug/Obj/clock_led.pbi.cout
rgb_leds/rgb_leds_rf/Debug/
rgb_leds/rgb_rf_commander/Debug/
rgb_leds/rgb_rf_commander/settings/
rgb_leds/rgb_leds_rf/settings/
mqtt/mqtt_test_cpp/mqtt_test
mesh_controller_interface/rf_tester/Debug/
mesh_controller_interface/rf_tester/settings/
mesh_controller_interface/rf_p2p_tester/Debug/
mesh_controller_interface/rf_p2p_tester/settings/
